<ion-header>
  <ion-toolbar>
    <ion-title>Carer Main Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" color="dark">Connect To User</ion-button>
  <ion-button expand="full" color="dark">Add To Schedule</ion-button>
  <ion-button expand="full" color="dark">Overview</ion-button>
  <ion-button expand="full" color="dark">Help</ion-button>
  <ion-button expand="full" color="dark">Settings</ion-button>
  <ion-button expand="full" color="dark">Log Out</ion-button>
</ion-content>
