.card{
}

.content{
    --background: #33749c;
}

.title{
    font-size: x-large;
    color: black;
    text-align: left;
    float: left;

}

.button{
    color: black;
    float: right;   
}

.img{
    position: absolute;
}

.toolbar{
    --background: #33749c;
}

.mainTitle{
    color: white;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}