<ion-content padding class="content" scroll-y="false">
  <ion-grid fixed="true" class="ion-align-items-center">
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-card class="card">
          <ion-card-header class="title">
            <ion-card-title>Add Task</ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-toolbar class="toolbar">
              <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="selectedTaskType" value="customTask"
                class="segment">
                <ion-segment-button value="task">
                  <ion-label>Custom Task</ion-label>
                </ion-segment-button>
                <ion-segment-button value="customTask">
                  <ion-label>Preset Task</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-toolbar>

            <ion-list class="input">

              <ion-item *ngIf="normalHide">
                <ion-label position="floating">Custom Task</ion-label>
                <ion-input autocapitalize="words" type="text" [(ngModel)]="inputTaskName"></ion-input>
              </ion-item>

              <ion-item *ngIf="customHide">
                <ion-label position="floating">Preset Task</ion-label>
                <ion-select [(ngModel)]="inputTaskName">
                  <ion-select-option *ngFor="let task of ((presetTasks | async)?.taskInfo)">
                    {{task.taskName}}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Details</ion-label>
                <ion-input autocapitalize="words" type="text" [(ngModel)]="inputTaskDetails"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Start Time</ion-label>
                <ion-datetime [(ngModel)]="inputStartTime" displayFormat="DDD D MMM hh:mm A" minuteValues="0,15,30,45">
                </ion-datetime>
              </ion-item>

              <ion-item>
                <ion-label position="floating">End Time</ion-label>
                <ion-datetime [(ngModel)]="inputEndTime" displayFormat="DDD D MMM hh:mm A" minuteValues="0,15,30,45">
                </ion-datetime>
              </ion-item>

              <ion-button class="addButton" color="dark" fill="outline" shape="round" type="submit" expand="block"
                (click)="createTaskNew()">Add</ion-button>

            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>