.content{
    --background: #33749c;
}

.title{
    position: relative;
    text-align: center;
    padding: 5%;
}

.addButton{
    position: relative;
    margin: 5%;
}

.input{
    
}

.segment{
    
}

.toolbar{
    --background: white;
}

.card{
    height: 620px;

}

.ion-align-items-center{
    align-items: center;
    vertical-align: middle;
    height: 100%;
}

