.content{
    --background: #33749c;
}

.title{
    position: relative;
    text-align: center;
    padding: 10%;
}

.addButton{
    position: relative;
    margin: 10%;
}

.input{
    
}

.segment{
    
}

.toolbar{
    padding-top: 10%;
}

.card{
    margin: 5%;
}

.h3{
    visibility: hidden;
}