
<ion-button href="/user-tabs/preset-tasks-morning" color="dark" fill="clear">
  <ion-icon class="icon" name="arrow-back-outline"></ion-icon>
</ion-button>


<ion-content padding class="content">
  <ion-card class="card">
    <ion-slides pager="{true}" class="slides">


      <ion-slide>
        <ion-card-content>
          <div class="photo">
            <img src="../../assets/img/CartoonCoat.png" />
          </div>
          <div class="instruction">
            <h1>How to put on your coat:</h1>
            <h2>Swipe to continue!</h2>
          </div>
        </ion-card-content>
      </ion-slide>



      <ion-slide>
        <ion-card-content>
          <div class="photo">
            <img src="../../assets/img/ThumbsUp.png" />
          </div>
          <div class="instruction">
            <h1>Well Done!</h1>
          </div>
          <div class="returnButton">
            <ion-button href="/user-tabs/preset-tasks-morning">Back to Task Menu</ion-button>
          </div>
        </ion-card-content>
      </ion-slide>

    </ion-slides>
  </ion-card>
</ion-content>