.content{
    --background: #33749c;
}

.title{
    color: black;
    font-size: x-large;
    font-weight: bold;
}

.viewEditButton{
    color: white;
}

.toolbar{
    --background: #33749c;
    position: relative;
    margin-top: 5%;

}

.edit{
    height: 50%;
}

.mainTitle{
    color: white;
    font-size: xx-large;
    //font-weight: bold;
    text-align: left;
}

.subtitle{
    color: white;
    font-size: large;
    text-align: right;
}

.viewButton{
    color: #33749c;
}

.taskName{
    color: black;
    font-size: large;
}

.details{
    color: black;
    font-size: large;
    
}

.date{
    color: black;
    font-size: x-large;
    font-weight: bold;
}

.ion-align-items-center{
    align-items: center;
    vertical-align: middle;
    height: 100%;
}

.ion-align-items-start{
    align-items: center;
    vertical-align: top;
    height: 100%;
}

.card{
    position: relative;
    padding-bottom: 5%;
    height: 300px;
}

.e-popup-header{
    padding-top: 15%;
}

.e-header-icon-wrapper{

}

.header{
    margin-top: 20%;
    
}

.img{
    height: 100px;
    width: 100px;
    
}

.img2{
    height: 50px;
    width: 75px;
}