<ion-tabs #tabs>
  <ion-tab-bar slot="bottom" class="tabs">

    <ion-tab-button tab="carer-schedule" class="tabs">
        <ion-icon class="icon" name="calendar"></ion-icon>
        <ion-label class="label">Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-task">
        <ion-icon class="icon" name="add"></ion-icon>
        <ion-label class="label">Add Task</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="overview">
        <ion-icon class="icon" name="stats-chart"></ion-icon>
        <ion-label class="label">Overview</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carer-settings">
        <ion-icon class="icon" name="cog"></ion-icon>
        <ion-label class="label">Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
