.content{
    --background: #33749c;
}

.icon{
    position: relative;
}

.toggle{
    position: relative;
}

.input{
    position: relative;
    padding-top: 5%;
}

.loginButtons{
    position: relative;
    margin: 10%;
}

.title{
    position: relative;
    padding: 10%;
    font-weight: bold;
    text-align: center;
}

.text{
    color: black;
}

.card{
    position: relative;

}

.ion-align-items-center{
    align-items: center;
    vertical-align: middle;
    height: 100%;
}
