.photo {
    width:  60%;
    height: 60%;
    //margin: 10%;
    margin-left: 20%;
    position: relative;

}

.photoEnd {
    width:  300px;
    height: 200px;
    margin-left: 35%;
    margin-top: 20%;
    position: relative;
}

.instruction{
    position: relative;
    text-align: center;
    color: black;
    font-size: large;
    margin: 5%;
    
}

.toolbar{
    --background: #33749c;
}

.slides{

}

.returnButton{
    position: relative;
    margin-bottom: 5%;
}

.content{
    --background: #33749c;
}

.card{
    height: 600px;
    width: 700px;
}

.backButton{
    position: relative;

    color: black;
}

.ion-align-items-center{
    height: 100%;
}

.ion-align-items-start{
    align-items: flex-start;
    height: 100%;
}