.itemLabel{
    font-size: large;
    color: black;
}

.toolbar{
    --background: #33749c;
}

.title{
    font-size: large;
    color: black;
}

.button{
    position: relative;
    left: 50%;
}

.content{
    --background: #33749c;
}

.card{

}