<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/user-tabs/tasks-menu' color="dark"></ion-back-button>
      <!--Native back button-->
    </ion-buttons>
    <ion-title class="title">Morning Activities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="content">

  <ion-card class="card" *ngFor="let morningTasks of presetTasksMorning">
    <ion-card-header class="itemLabel">{{morningTasks.title}}
      <ion-button class="button" href={{morningTasks.pageLink}} fill="clear" color="dark" size="large">
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-card-header>

  </ion-card>

</ion-content>