.card{
}

.content{
    --background: #33749c;
}

.title{
    position: relative;
    width: 90%;
    color: black;

}

.button{
    position: relative;
    left: 80%;
    color: black;
}

.img{
    position: absolute;
}