<ion-content padding class="content">
  <div id="schedule">
    <ion-toolbar class="toolbar">
      <ion-label class="mainTitle">Today's Schedule</ion-label>
    </ion-toolbar>
    <ion-toolbar class="lowerToolbar">
        <ion-label class="date" *ngFor="let date of dateTime">{{date.date}}</ion-label>
    </ion-toolbar>

    <ion-card>
      <ion-card-header class="title">Morning</ion-card-header>
      <ion-card-content>
        <ion-list *ngFor="let task of ((userMorningTasks | async)?.morningTasks)">
          <ion-item lines="none" class="taskName">
            <p>{{ task.task }}</p>
            <p>{{task.pTask}}</p>
            <ion-button class="viewButton" slot="end" fill="outline" (click)="showDetails(task)" color="#33749c">View</ion-button>
            <ion-button class="deleteButton" slot="end" fill="outline" (click)="deleteTask(task)" color="#33749c">Delete</ion-button>
          </ion-item>
          <ion-item class="details" *ngIf="task.hideDetails" lines="none">
            <p>{{task.details}}</p>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="title">Afternoon</ion-card-header>
      <ion-card-content>
        <ion-list *ngFor="let task of ((userAfternoonTasks | async)?.afternoonTasks)">
          <ion-item lines="none" class="taskName">
            <p>{{ task.task }}<p>
                <p>{{task.pTask}}</p>
                <ion-button class="viewButton" slot="end" (click)="showDetails(task)" color="#33749c" fill="outline">View</ion-button>
          </ion-item>
          <ion-item class="details" *ngIf="task.hideDetails">
            <p>{{task.details}}</p>
            <ion-button class="linkButton" slot="end" href={{task.taskLink}} color="#33749c" fill="outline">Go</ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="title">Evening</ion-card-header>
      <ion-card-content>
        <ion-list *ngFor="let task of ((userEveningTasks | async)?.eveningTasks)">
          <ion-item lines="none" class="taskName">
            <p>{{ task.task }}<p>
                <p>{{task.pTask}}</p>
                <ion-button class="viewButton" slot="end" (click)="showDetails(task)" color="#33749c" fill="outline">View</ion-button>
          </ion-item>
          <ion-item class="details" *ngIf="task.hideDetails">
            <p>{{task.details}}</p>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>