<ion-header>
  <ion-toolbar>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="schedule">
    <ion-list-header>Morning</ion-list-header>
    <ion-list *ngFor="let task of ((userMorningTasks | async)?.morningTasks)">
      <ion-item >
        <p>{{ task.task }}</p>
      </ion-item>
    </ion-list>
    <ion-list-header>Afternoon</ion-list-header>
    <ion-list *ngFor="let task of ((userAfternoonTasks | async)?.afternoonTasks)">
      <ion-item>
        <p>{{ task.task }}</p>
      </ion-item>
    </ion-list>
    <ion-list-header>Evening</ion-list-header>
    <ion-list *ngFor="let task of ((userEveningTasks | async)?.eveningTasks)">
      <ion-item>
        <p>{{ task.task }}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>