<ion-header>
  <ion-toolbar>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="schedule">
    <ion-list-header class="listHeader">Morning</ion-list-header>
    <ion-list *ngFor="let task of ((userMorningTasks | async)?.morningTasks)">
      <ion-item class="taskName">
        <p>{{ task.task }}</p>
        <p>{{task.pTask}}</p>
      </ion-item>
      <ion-item class="details" *ngIf="">
        <p>{{task.details}}</p>
      </ion-item>
    </ion-list>
    <ion-list-header class="listHeader">Afternoon</ion-list-header>
    <ion-list *ngFor="let task of ((userAfternoonTasks | async)?.afternoonTasks)">
      <ion-item class="taskName">
        <p>{{ task.task }}<p>
            <p>{{task.pTask}}</p>
      </ion-item>
      <ion-item class="details" *ngIf="">
        <p>{{task.details}}</p>
      </ion-item>
    </ion-list>
    <ion-list-header class="listHeader">Evening</ion-list-header>
    <ion-list *ngFor="let task of ((userEveningTasks | async)?.eveningTasks)">
      <ion-item class="taskName">
        <p>{{ task.task }}<p>
            <p>{{task.pTask}}</p>
      </ion-item>
      <ion-item class="details" *ngIf="">
        <p>{{task.details}}</p>
      </ion-item>
    </ion-list>
  </div>

</ion-content>