.content{
    --background: #33749c;
}

.title{
    color: black;
    font-size: x-large;
    font-weight: bold;
}

.toolbar{
    --background: #33749c;
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
}

.mainTitle{
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

.viewButton{
    color: #33749c;
}

.taskName{
    color: black;
    font-size: large;
}

.details{
    color: black;
    font-size: large;
    
}

.date{
    color: black;
    font-size: x-large;
    font-weight: bold;
}

.lowerToolbar{
    --background: #33749c;
    position: relative;
    margin-left: 5%;
    margin-bottom: 5%;
}