.hidden{
    display: none;
}

.content{
    --background: #33749c;
}

.title{
    position: relative;
    text-align: center;
    padding: 10%;
}

.updateButton{
    position: relative;
    margin: 10%;
}

.input{
    
}

.card{
    margin: 5%;
}