.hidden{
    display: none;
}

.content{
    --background: #33749c;
}

.title{
    position: relative;
    text-align: center;
    margin-bottom: 5%;
}

.updateButton{
    position: relative;
    margin: 10%;
}

.input{
    
}

.card{

}

.ion-align-items-center{
    align-items: center;
    vertical-align: middle;
    height: 100%;
}
