<ion-header>
  <ion-toolbar>
    <ion-title>Add Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="selectedTaskType" value="customTask">
      <ion-segment-button value="task">
        <ion-label>Task</ion-label>
      </ion-segment-button>
      <ion-segment-button value="customTask">
        <ion-label>Custom Task</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-list>

    <ion-item *ngIf="normalHide">
      <ion-label position="floating">Task</ion-label>
      <ion-input type="text" [(ngModel)]="inputTask"></ion-input>
    </ion-item>

    <ion-item *ngIf="customHide">
      <ion-label position="floating">Preset Task</ion-label>
      <ion-select [(ngModel)]="inputPresetTask">
        <ion-select-option *ngFor="let task of ((presetTasks | async)?.taskInfo)">
          {{task.taskName}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Details</ion-label>
      <ion-input type="text" [(ngModel)]="inputTaskDetails"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Time of Day</ion-label>
      <ion-select [(ngModel)]="taskTime">
        <ion-select-option value="morning">Morning</ion-select-option>
        <ion-select-option value="afternoon">Afternoon</ion-select-option>
        <ion-select-option value="evening">Evening</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" (click)="createTask()">Add</ion-button>

  </ion-list>
</ion-content>