<ion-header>
  <ion-toolbar>
    <ion-title>Add Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Task</ion-label>
      <ion-input type="text" [(ngModel)]="inputTask"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Time of Day</ion-label>
      <ion-select [(ngModel)]="taskTime">
        <ion-select-option value="morning">Morning</ion-select-option>
        <ion-select-option value="afternoon">Afternoon</ion-select-option>
        <ion-select-option value="evening">Evening</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" (click)="createTask()">Add</ion-button>
  </ion-list>
</ion-content>