.photo {
    width:  60%;
    height: 60%;
    position: absolute;

}

.instruction{
    position: relative;
    padding-top: 70%;
    text-align: center;
    
}

.slides{
    width: 100%;
    height: 75%;
}

.button{
    position: absolute;
    padding-top: 90%;
    left: 30%;
}