<ion-content padding class="content">
  <ion-grid fixed="true" class="ion-align-items-center">

    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-card class="card">
          <ion-card-header class="title">
            <ion-card-title>Sign in</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <section>
              <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="selectedPath" class="segment" value="user">
                <ion-segment-button value="user">
                  Use
                  <ion-icon name="person-circle-outline"></ion-icon>
                </ion-segment-button>
                <ion-segment-button value="carer">
                  Plan
                  <ion-icon name="people-circle-outline"></ion-icon>
                </ion-segment-button>
              </ion-segment>
            </section>
            <ion-list>
              <section class="input">
                <ion-item>
                  <ion-label position="floating">Username</ion-label>
                  <ion-input type="text" [(ngModel)]="username"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input type="password" [(ngModel)]="password"></ion-input>
                </ion-item>
              </section>
            </ion-list>

            <section>
              <ion-button class="loginButtons" color="dark" fill="outline" shape="round" type="submit" expand="block"
                (click)="login()">Sign in</ion-button>
              <ion-button fill="clear" expand="block" color="dark" (click)="registerLink()">
                <p>New user? Sign up here!</p>
              </ion-button>
            </section>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>