.content{
    --background: #33749c;
}

.input{
    position: relative;
    padding: 5%;
}

.loginButtons{
    position: relative;
    margin: 10%;
}

.segment{
    position: relative;
    margin-top: 10%;
    width: 60%;
    left: 20%;
}

.title{
    position: relative;
    padding: 10%;
    font-weight: bold;
    text-align: center;
}

.text{
    color: black;
}

.card{
    position: relative;
}

.ion-align-items-center{
    align-items: center;
    vertical-align: middle;
    height: 100%;
}

