<ion-tabs #tabs>
    <ion-tab-bar slot="bottom" class="tabs">

        <ion-tab-button tab="user-schedule">
            <ion-icon class="icon" name="calendar"></ion-icon>
            <ion-label class="label">Schedule</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tasks-menu">
            <ion-icon class="icon" name="book"></ion-icon>
            <ion-label class="label">Activities</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="user-settings">
            <ion-icon class="icon" name="cog"></ion-icon>
            <ion-label class="label">Settings</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>